<!DOCTYPE html>
<html>
  <div class="container">
    <h6>What would you like to share with world?</h6>
    <div class="row" style="margin-top: 40px">
      <div class="col-md-9">
        <textarea class="form-control" rows="5" style="height: 100px;resize:none ;"></textarea>
      </div>
      <div class="col-sm" style="display: flex; align-items: center">
        <button type="submit" class="btn btn-primary" >
          Submit
        </button>
      </div>
    </div>
    <div class="border border-dark " style="margin-top: 50px; overflow-y: auto; height: 300px;">
      <div style="margin: 20px">
        <div class="row">
          <div class="col-md-9"><h4>Comments</h4></div>
          <div class="col-md-2">
            <button class="btn">Filter</button>
          </div>
        </div>
        <div style="margin-top: 30px">
          <h1>tyfhgfn</h1>
          <h1>tyfhgfn</h1>
          <h1>tyfhgfn</h1>
          <h1>tyfhgfn</h1>
          <h1>tyfhgfn</h1>
          <h1>tyfhgfn</h1>
          <h1>tyfhgfn</h1>
          <h1>tyfhgfn</h1>
        </div>
      </div>
    </div>
  </div>
</html>
