<!DOCTYPE html>
<html>
  <body>
    <app-navbar></app-navbar>

    <div class="carousel">
    
      
      <ngb-carousel class="myclass" [showNavigationIndicators]="true">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img
              src="https://seabreezemackay.com.au/shared/content/uploads/IMG_0206-2048x1365.jpg"
              alt="Angular Carousel 1"
            />
          </div>
          <div class="carousel-caption">
              
        
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img
              src="https://img1.mashed.com/img/gallery/the-oldest-fast-food-chain-in-the-us-might-surprise-you/l-intro-1615688999.jpg"
              alt="Angular Carousel 2"
            />
          </div>
          
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="search" style="width: 45%;">
      <form class="d-flex" >
        <input class="form-control me-2" type="search" placeholder="Search" style="height:45px" aria-label="Search">
        <button class="btn " type="submit">Search</button>
        
      </form>
    </div>
    <div class="container" style="align-items: center; width: 900px;margin-top: 75px;">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/image/order.jpg" class="card-img-top" alt="..." />

            <h5 class="card-title">Order Food Online</h5>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/image/go-out.jpg" class="card-img-top" alt="..." />

            <h5 class="card-title">Go Out for Dinner</h5>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/image/member.jpg" class="card-img-top" alt="..." />

            <h5 class="card-title">Privileged Member</h5>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/image/club.jpg" class="card-img-top" alt="..." />

            <h5 class="card-title">Nightlife & Clubs</h5>
          </div>
        </div>
      </div>
</div>
<div class="container" style="align-items: center; width: 80%">
      <div style="margin-top: 100px; ">
        <h1>Collections</h1>
        <p style="font-size: 18px">
          Explore curated lists of top restaurants, cafes, pubs, and bars in
          Delhi NCR, based on trends
        </p>

        <div class="row row-cols-4 row-cols-md-4 g-4">
          <div class="col">
            <div class="collect-card">
              <img
                src="assets/image/order.jpg"
                class="col-card-img-top"
                alt="..."
              />
              <p class="col-card-text">Burgers</p>

              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
          <div class="col">
            <div class="collect-card">
              <img
                src="assets/image/pizza.jpg"
                class="col-card-img-top"
                alt="..."
              />
              <p class="col-card-text">Pizzas</p>

              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
          <div class="col">
            <div class="collect-card">
              <img
                src="assets/image/biryani.jpg"
                class="col-card-img-top"
                alt="..."
              />
              <p class="col-card-text">Biryani</p>
              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
          <div class="col">
            <div class="collect-card">
              <img
                src="assets/image/cafe.jpg"
                class="col-card-img-top"
                alt="..."
              />

              <p class="col-card-text">Beverages</p>
            </div>
          </div>
          <div class="col">
            <div class="collect-card">
              <img
                src="assets/image/chinese.jpg"
                class="col-card-img-top"
                alt="..."
              />
              <p class="col-card-text">Chinese</p>

              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
          <div class="col">
            <div class="collect-card">
              <img
                src="assets/image/punjabi.jpg"
                class="col-card-img-top"
                alt="..."
              />
              <p class="col-card-text">Punjabi</p>

              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
          <div class="col">
            <div class="collect-card">
              <img
                src="assets/image/sweet.jpeg"
                class="col-card-img-top"
                alt="..."
              />
              <p class="col-card-text">Sweets</p>

              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
          <div class="col">
            <div class="collect-card">
              <img
                src="assets/image/south.jpg"
                class="col-card-img-top"
                alt="..."
              />
              <p class="col-card-text">South Indian</p>

              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 100px; ">
        <h2>Restaurants Near me </h2>
        <div style="width: 100%;
        height: 300px;
        margin:20px;
        background-color: aqua;">
          xjnjknnx
        </div>
      </div>
    </div>
   
  </body>
</html>
